@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root {
  --color-primary: #cc382a;
  --color-secondary: #013e92;
  --color-tertiary : #F2F2F2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalnia', sans-serif;

}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-primary);
  border-radius: 10px;
}


   